<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://m.facebook.com/100036737418122/" target="_blank"
    >
      sk khorrum
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://sk-khorrum-blog.blogspot.com" target="_blank"
    >
      blog 
    </a>
  </p>
</footer>
